@inject ILocalStorageService localStorage
@using System.IdentityModel.Tokens.Jwt;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@name </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="width:300px">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projeler">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Proje Listesi
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gorevler">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Görev Listesi
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SPY04N">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gantt Şeması
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chat
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    string token,name;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        //token = await localStorage.GetItemAsync<string>("token");
        //JwtSecurityTokenHandler tokenHandler = new JwtSecurityTokenHandler();
        //JwtSecurityToken securityToken = (JwtSecurityToken)tokenHandler.ReadToken(token);
        //name = securityToken.Claims.First(c => c.Type == "userFullName").Value;
    }
}