<SfSidebar Width="250px">
    <ChildContent>
        <div style="text-align: center;" class="text-content"> Sidebar </div>
    </ChildContent>
</SfSidebar>

<style>
    .e-sidebar {
        background: #898b2b
    }
</style>

@code {

}
