@page "/projedetay"
@using ScientaScheduler.Blazor.Library.DTOs;
@using ScientaScheduler.BlazorApp.Services.Interface;
@inject IBusinessService businessService


<EditForm Model="@projectDto">
    <h3>Proje Detay</h3>
    <hr />
    <div class="form-group row">
        <label for="ID" class="col-sm-2 col-form-label">
            Proje ID
        </label>
        <div>
            <SfNumericTextBox @bind-Value="projectDto.ID"></SfNumericTextBox>            
            @*<InputNumber class="form-control" @bind-Value="projectDto.ID" />*@
        </div>
    </div>
    <div class="form-group row">
        <label for="ID" class="col-sm-2 col-form-label">
            Proje Adı
        </label>
        <div>
            <InputText class="form-control" @bind-Value="projectDto.ProjeAdi" />
        </div>
    </div>
    <div class="form-group row">
        <label for="ID" class="col-sm-2 col-form-label">
            Proje Kodu
        </label>
        <div>
            <InputText class="form-control" @bind-Value="projectDto.ProjeKodu" />
        </div>
    </div>
    <div class="form-group row">
        <label for="ID" class="col-sm-2 col-form-label">
            Proje Başlama Tarihi
        </label>
        <div>
            <InputDate class="form-control" @bind-Value="projectDto.PlanlananBaslamaTarihi" />
        </div>
    </div>
    <div class="form-group row">
        <label for="ID" class="col-sm-2 col-form-label">
            Proje Bitiş Tarihi
        </label>
        <div>
            <InputDate class="form-control" @bind-Value="projectDto.PlanlananBitisTarihi" />
        </div>
    </div>
</EditForm>


@code {
    public ProjectDto projectDto = new ProjectDto();

    protected override async Task OnInitializedAsync()
    {
        var result = await businessService.GetProjeById();
        projectDto = result;
    }
}